// Colors::
$nav_background: #2069b3;
$white: #ffffff;
$content_background: #213e5f;
$content_heading: #b3c9e2;
$learn_more: #973f91;

// Fonts::
$main_font: "Roboto", sans-serif;
$heading_font: "Barlow", sans-serif;
