// Colors::
$nav_background: #2069b3;
$white: #ffffff;
$hero_background: #213e5f;
$hero_heading: #b3c9e2;
$learn_more: #973f91;
$hover_more: #71226b;
$hero_button_hover: #58aea0;
$hero_button: #64baaf;
$heading: #58aea0;
$product_about: #545759;
$for_explain: #424548;
$question: #427bbf;
$footer_color: #d2e6e2;
// Fonts::
$main_font: "Roboto", sans-serif;
$heading_font: "Barlow", sans-serif;
