* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas: "header" "content";
}
body header {
  height: 52px;
}
body main {
  grid-area: content;
}

.navbar {
  grid-area: header;
  height: 52px;
  background-color: #2069b3;
  display: block;
  padding-right: 120px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  position: relative;
  z-index: 2;
}
.navbar .nav_item {
  color: #ffffff;
  float: right;
  padding: 20px 14px;
  height: 100%;
}
.navbar .nav_item a {
  color: #ffffff;
  text-decoration: none;
}
.navbar .nav_logo {
  background-color: #ffffff;
  width: 268px;
  height: 125px;
  border-radius: 0px 0px 40px 40px;
  position: absolute;
  left: 11.9%;
}
.navbar .nav_logo img {
  position: absolute;
  top: 19%;
  left: 7%;
}

.hero {
  height: 82vh;
  position: relative;
  padding-bottom: 10px;
  grid-area: content;
  background-color: #213e5f;
  background-image: url(../assets/HEARTS.png);
  background-blend-mode: overlay;
  color: #ffffff;
  background-position: 9rem -5rem;
  background-repeat: no-repeat;
  font-family: "Barlow", sans-serif;
  opacity: 0.9;
}
.hero .hero_text {
  position: absolute;
  left: 11.9%;
  top: 15%;
}
.hero .hero_heading {
  font-size: 52px;
  font-weight: 600;
  color: #b3c9e2;
}
.hero .hero_desc {
  font-size: 62px;
  font-weight: 600;
  color: #ffffff;
}
.hero .hero_heading,
.hero .hero_desc {
  line-height: 86%;
}
.hero .hero_middle {
  font-size: 52px;
  font-weight: 600;
  color: #b3c9e2;
  padding-top: 10px;
  letter-spacing: -3;
}
.hero .learn_more {
  height: 71px;
  width: 165px;
  background-color: #973f91;
  border: none;
  border-radius: 5px;
  font-size: 21px;
  font-weight: 600;
  color: #ffffff;
  margin: 15px 0px 0px 0px;
}
.hero .learn_more:hover {
  cursor: pointer;
  background-color: #71226b;
}
.hero .hero_button {
  font-family: "Barlow", sans-serif;
  font-size: 21px;
  font-weight: 500;
  z-index: 22;
  position: absolute;
  left: 70%;
  top: 1%;
  width: 15rem;
  text-align: center;
  background-color: #71226b;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  padding: 2px 2px 3px 2px;
}
.hero .hero_button:hover {
  cursor: pointer;
  background-color: #58aea0;
}
.hero .hero_end {
  font-family: "Barlow", sans-serif;
  font-size: 30px;
  font-weight: 300;
  margin-top: 10px;
}
.hero .hero_image {
  position: absolute;
  left: 50%;
  overflow: hidden;
}
.hero .hero_image .hero_tab {
  position: relative;
  top: 6rem;
  left: 18.8rem;
}
.hero .hero_image .hero_tab1 {
  position: relative;
  top: 6rem;
  left: -10rem;
}
.hero .hero_image .hero_mouth {
  position: relative;
  left: 6.4rem;
  top: -35.6rem;
}

.product {
  overflow: hidden;
  font-family: "Barlow", sans-serif;
}
.product .product_desc {
  padding: 0.3rem 0 0 0;
  position: relative;
  left: 11.9%;
}
.product .product_desc .product_head {
  font-size: 56px;
  font-weight: 500;
  color: #58aea0;
}
.product .product_desc .product_about {
  font-size: 26px;
  color: #545759;
}/*# sourceMappingURL=index.css.map */