@import "var";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header"
    "content";
  header {
    height: 52px;
  }
  main {
    grid-area: content;
  }
}

.navbar {
  grid-area: header;
  height: 52px;
  background-color: $nav_background;
  display: block;
  padding-right: 120px;
  font-family: $main_font;
  font-weight: 500;
  font-size: 15px;
  position: relative;
  z-index: 2;
  .nav_item {
    color: $white;
    float: right;
    padding: 20px 14px;
    height: 100%;
    a {
      color: $white;
      text-decoration: none;
    }
  }

  .nav_logo {
    background-color: $white;
    width: 268px;
    height: 125px;
    border-radius: 0px 0px 40px 40px;
    position: absolute;
    left: 11.9%;
    img {
      position: absolute;
      top: 19%;
      left: 7%;
    }
  }
}

.hero {
  height: 82vh;
  position: relative;
  padding-bottom: 10px;
  grid-area: content;
  background-color: $hero_background;
  background-image: url(../assets/HEARTS.png);
  background-blend-mode: overlay;
  color: $white;
  background-position: 9rem -5rem;
  background-repeat: no-repeat;
  font-family: $heading_font;
  opacity: 0.9;
  @mixin text {
    font-size: 52px;
    font-weight: 600;
    color: $hero_heading;
  }
  .hero_text {
    position: absolute;
    left: 11.9%;
    top: 15%;
  }

  .hero_heading {
    @include text;
  }
  .hero_desc {
    font-size: 62px;
    font-weight: 600;
    color: $white;
  }

  .hero_heading,
  .hero_desc {
    line-height: 86%;
  }
  .hero_middle {
    @include text;
    padding-top: 10px;
    letter-spacing: -3;
  }

  .learn_more {
    height: 71px;
    width: 165px;
    background-color: $learn_more;
    border: none;
    border-radius: 5px;
    font-size: 21px;
    font-weight: 600;
    color: $white;
    margin: 15px 0px 0px 0px;
  }
  .learn_more:hover {
    cursor: pointer;
    background-color: $hover_more;
  }

  .hero_button {
    font-family: $heading_font;
    font-size: 21px;
    font-weight: 500;
    z-index: 22;
    position: absolute;
    left: 70%;
    top: 1%;
    width: 15rem;
    text-align: center;
    background-color: $hover_more;
    border: none;
    border-radius: 5px;
    color: $white;
    padding: 2px 2px 3px 2px;
  }

  .hero_button:hover {
    cursor: pointer;
    background-color: $hero_button_hover;
  }

  .hero_end {
    font-family: $heading_font;
    font-size: 30px;
    font-weight: 300;
    margin-top: 10px;
  }

  .hero_image {
    position: absolute;
    left: 50%;
    overflow: hidden;

    .hero_tab {
      position: relative;
      top: 6rem;
      left: 18.8rem;
    }

    .hero_tab1 {
      position: relative;
      top: 6rem;
      left: -10rem;
    }
    .hero_mouth {
      position: relative;
      left: 6.4rem;
      top: -35.6rem;
    }
  }
}

.product {
  overflow: hidden;
  font-family: $heading_font;
  .product_desc {
    padding: 0.3rem 0 0 0;
    position: relative;
    left: 11.9%;

    .product_head {
      font-size: 56px;
      font-weight: 500;
      color: $product_head;
    }

    .product_about {
      font-size: 26px;
      color: $product_about;
    }
  }
}
