@import "var";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header"
    "content";
  header {
    height: 52px;
  }
  main {
    grid-area: content;
  }
}

.navbar {
  grid-area: header;
  height: 52px;
  background-color: $nav_background;
  display: block;
  padding-right: 120px;
  font-family: $main_font;
  font-weight: 500;
  font-size: 15px;
  position: relative;
  z-index: 2;
  .nav_item {
    color: $white;
    float: right;
    padding: 20px 14px;
    height: 100%;
    a {
      color: $white;
      text-decoration: none;
    }
  }

  .nav_logo {
    background-color: $white;
    width: 268px;
    height: 125px;
    border-radius: 0px 0px 40px 40px;
    position: absolute;
    left: 11.5%;
    img {
      position: absolute;
      top: 19%;
      left: 7%;
    }
  }
}

.content {
  z-index: -1;
  height: 85vh;
  position: relative;
  grid-area: content;
  background-color: $content_background;
  color: $white;
  font-family: $heading_font;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: content contents;

  @mixin text {
    font-size: 52px;
    font-weight: 600;
    color: $content_heading;
  }
  .content_text {
    position: absolute;
    left: 11.5%;
    top: 15%;
  }

  .content_heading {
    @include text;
  }
  .content_desc {
    font-size: 62px;
    font-weight: 600;
    color: $white;
  }

  .content_heading,
  .content_desc {
    line-height: 86%;
  }
  .content_middle {
    @include text;
    padding-top: 10px;
  }

  .learn_more {
    height: 71px;
    width: 165px;
    background-color: $learn_more;
    border: none;
    border-radius: 5px;
    font-size: 21px;
    font-weight: 600;
    color: $white;
    margin: 15px 0px 0px 0px;
  }

  .content_end {
    font-family: $heading_font;
    font-size: 30px;
    font-weight: 300;
    margin-top: 10px;
  }

  .content_image {
    grid-area: contents;
    position: relative;

    .hearts {
      opacity: 0.2;
      position: relative;
      top: -9.5%;
      left: 4.1%;
    }
    .content_tab {
      position: absolute;
      top: 20%;
      left: 62.5%;
    }

    .content_tab1 {
      position: absolute;
      top: 20%;
      left: 56.5%;
    }
    .content_mouth {
      position: absolute;
      left: 49.9%;
      top: -25%;
    }
  }
}
